<?xml version="1.0"?>
<phpunit bootstrap="./Bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         processIsolation="false"
         syntaxCheck="true">

    <testsuite name="MigrationTests">
        <directory>./</directory>
    </testsuite>

    <!-- Define directories/files filter for code coverage. -->
    <filter>
        <!-- Per default, skip all files. -->
        <blacklist>
            <directory suffix=".php">../library/Opus</directory>
            <directory suffix=".php">../library/Zend</directory>
        </blacklist>

        <!-- TODO Commented out line would work, but throws exception. Why? -->
        <whitelist>
            <!--directory suffix=".php">../../server/scripts/migration</directory-->
            <directory suffix=".php">.</directory>
        </whitelist>
    </filter>

</phpunit>
